{% extends "base.html" %}
{% load account %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}

    <div class="content my-5 margin-bottom-60 vh100">
        <div class="row">            
            <div class="col-lg-6 offset-lg-3">
                <div class="alert alert-success" role="alert">
                    <h6>{% trans 'Your password is now changed.' %} You can <a href="{% url 'account_login' %}">Login</a></h6>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
