{% extends 'base.html' %}
{% load static %} 

{% block title %}{{profile}}{% endblock title %}

{% block stylesheet %}
<style>
    .admin-profile-picture{
        margin-top: -90px;
        z-index: 100;
    }
    .user-profile-content{
        margin-top: -30px;
        z-index: 99;
        border-radius: 30px;
    }

    .user-profile-content .card{
        border-radius: 15px;
    }
</style>
{% endblock stylesheet %} 

{% block content %} 
<div class="row mx-0 ">
    <section class="profile-hero">
        <header class="profile-hero-container ">
            <div class="section-title-heading text-white padding-top-20">
                <h1>{{user.username |title}}-Profile</h1>
            </div>   
        </header>
    </section>   
</div>  
<div class="container">
    <div class="main-body"> 
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3 user-profile-content">
              <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{profile.profile_picture.url}}" alt="Admin" class="rounded-circle admin-profile-picture border border-white border-2" width="150" height="150">
                        <div class="mt-3 user-profile-content">
                            <h4>{{profile.user.username |title}}</h4>
                            <p class="text-dark text-primary mb-1">{{profile.bio|safe}}</p>
                            <p class="text-muted fs-6"><i class="fa fa-map-marker me-2" aria-hidden="true"></i>{{profile.location}}</p>
                            {% if request.user.is_authenticated %}
                                {% if user.profile == profile %}
                                    <a href="{% url 'account:profile_update' user.id %}" class="btn bg-blue text-white mx-3">Edit Profile</a>
                                {% endif %}
                        
                            {% endif %}
                        </div>
                        <div class="mt-4 text-center">
                            <ul class="list-inline">
                                {% if profile.linkedin_link %}
                                <li class="list-inline-item"><a href="{{profile.linkedin_link}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                                {% endif %}
                                {% if profile.twitter_link %}
                                <li class="list-inline-item"><a href="{{profile.twitter_link}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                                {% endif %}
                                {% if profile.instagram_link %}
                                <li class="list-inline-item"><a href="{{profile.instagram_link}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                {% endif %}
                                {% if profile.facebook_link %}
                                <li class="list-inline-item"><a href="{{profile.facebook_link}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                {% endif %}
                                {% if profile.youtube_link %}
                                <li class="list-inline-item"><a href="{{profile.youtube_link}}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> </li>
                                {% endif %}
                                {% if profile.github_link %}
                                <li class="list-inline-item"><a href="{{profile.github_link}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3 mt-2">
                    <div class="card-body">
                        <h3><b>All Activity</b></h3>
                        {% for post in posts_list %}
                        {% empty %}
                            <div class="text-center mb-5">
                                <img class="my-5" src="{% static 'images/no_item.svg' %}" height="150" width="auto" alt="no_item"><br>
                                <h6>Sorry, no Activity found!</h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %} 

{% block javascript %} {% endblock javascript %}